# Auto detect text files and perform LF normalization
* text=auto
import time
a="Iniciar juego"
b="Instrucciones"
c="Salir del juego"
def Menu():
    print("Bienvenido(s) a ahorcado, a continuación se les mostrará un menú con tres opciones: la primera, que es para iniciar el juego, la segunda que es para conocer las reglas\ne intrucciones y, por último, la opción de poder salir del juego.")
    time.sleep(1)
    print("* * * * * * * * * * * *")
    print("*        Menú         *")
    print("* 1 -",a,"  *")
    print("* 2 -",b,"  *")
    print("* 0 -",c,"*")
    print("* * * * * * * * * * * *")
    time.sleep(1)
    return
def JugaR():
    J1 = input("Escriba el nombre del jugador 1: ")
    J2 = input("Escriba el nombre del jugador 2: ")
    while J1 == J2:
        print("Por favor ingrese un nickname diferente al otro.")
        J2 = input("Ingrese el nombre del jugador 2: ")
    palabra = input("Ingrese palabra a adivinar: ")
    list=[]
def JugaR():
    J1 = input("Escriba el nombre del jugador 1: ")
    J2 = input("Escriba el nombre del jugador 2: ")
    while J1 == J2:
        print("Por favor ingrese un nick diferente al otro.")
        J2 = input("Ingrese el nombre del jugador 2: ")
    palabra = input("Ingrese palabra a adivinar: ")
    list=[]
    for i in palabra:
        list.append(i)
    contador=len(list)
    palabraqueestaadivinando = ""
    vidas = 8
    vidas6 = "   \n  o\n /|\\ \n / \\"
    vidas5 = "   \n  o\n /|\\ \n /  "
    vidas4 = "   \n  o\n /|\\  "
    vidas3 = "   \n  o\n /|   "
    vidas2 = "   \n  o\n  |  "
    vidas1 = "   \n  o"
    if J1 != J2:
        print("Suerte, que gane el mejor")
        while vidas>0:
            if vidas == 1:
                print(vidas1,"te queda 1 vida")
            elif vidas == 2:
                print(vidas2,"te queda 2 vidas")
            elif vidas == 3:
                print(vidas3,"te queda 3 vidas")
            elif vidas == 4:
                print(vidas4,"te queda 4 vidas")
            elif vidas == 5:
                print(vidas5,"te queda 5 vidas")
            elif vidas == 6:
                print(vidas6)
            if contador>0:
                letradelnick1 = input("Ingrese una vocal o consonante:")[0:1]
                palabraqueestaadivinando = palabraqueestaadivinando + letradelnick1
                if letradelnick1 in palabra:
                    contador = contador - 1
                if letradelnick1 not in palabra:
                    vidas = vidas - 1
                for letra in palabra:
                    if letra in palabraqueestaadivinando:
                        print(letra, end=" ")
                    else:
                        print("*", end=" ")
            if contador == 0:
                print("Felicidades,", J1, "ha ganado el juego.")
                break
        if vidas == 0:
            print("Usted ha perdido todas sus vidas, el ganador es", J2, ". Felicitaciones!")
        return
 def Salir():
    if x=="0":
        print("Hasta la próxima, esperamos volver a jugar pronto.")
    return
def Jugar():
    if x=="1":
        JugaR()
    return
Menu()
time.sleep(1)
x=input("Escoja una opción: ")
if x=="2":
    print("Este juego consta de dos jugadores: J1 y J2, cabe resaltar que, a la hora de iniciar el juego, podrán escoger cualquier nombre.El primero, J1, será quien jugará a adivinar\nla palabra, mientras que el segundo, J2, será quien escoja la palabra que J1 adivinará. J1 tendrá 6 vidas, es decir, tendrá la posibilidad de fallar como máximo 6 veces antes\nde que éste pierda y J2 gane el juego. El jugador J1 tendrá un tiempo de espera, el cual será de 5 segundos como máximo, para que pueda responder cada letra.\nEn caso de que pasen los 5 segundos sin responder letra alguna, el jugador J1 perderá una vida. En el caso de que la palabra escogida por J2 tenga una o más vocales\ny/o consonantes, se tendrá que repetir la letra, en el juego, cuantas veces tenga la palabra dicha letra.")
    print("1 - Empezar a jugar")
    print("0 - Salir del juego")
    x=input("Escoja una opción: ")
    while x!="0" and x!="1":
        print("Opción fallida.")
        x=input("Escoja una opción válida: ")
    Jugar()
    Salir()
while x!="1" and x!="1" and x!="0":
    print("Opción inválida.")
    x=input("Escoja una opción válida: ")
Salir()
Jugar()
